linkdin agent.json
{
  "name": "linkdin agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "linkdin automation ",
        "formDescription": "this automation will help to find your needed documents\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "topic ",
              "placeholder": "Enter your topic"
            },
            {
              "fieldLabel": "location",
              "placeholder": "Location"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "08dc03ee-e52c-4d68-bd9f-650d0e787cb4",
      "name": "On form submission",
      "webhookId": "9d9f1931-b110-43e6-8e22-03bc5a14ecbc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items?token=apify_api_ivjf39xPj2DNJKfSaUJnQDOmfOOhBL01Wkii",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"chatGptSearch\": {\n        \"enableChatGpt\": false\n    },\n    \"focusOnPaidAds\": false,\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 1,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"mobileResults\": false,\n    \"perplexitySearch\": {\n        \"enablePerplexity\": false,\n        \"returnImages\": false,\n        \"returnRelatedQuestions\": false\n    },\n    \"queries\": \"site:linkedin.com +{{ $json['topic '] }} {{ $json.location }}\",\n    \"resultsPerPage\": 100,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "81dbe539-e156-4d8a-8c57-666ac7eac2b0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const results = $json.organicResults || [];\n\nreturn results.map(r => ({\n  json: {\n    title: r.title,\n    url: r.url,\n    description: r.description,\n    position: r.position\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5239ca04-f12f-4e1b-bfb5-024d254ec814",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1m9HZoNpRGuY8pxiN1tlau2VP8uUOxGEywAd7Czx7VPs",
          "mode": "list",
          "cachedResultName": "linkdin automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9HZoNpRGuY8pxiN1tlau2VP8uUOxGEywAd7Czx7VPs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1264734873,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9HZoNpRGuY8pxiN1tlau2VP8uUOxGEywAd7Czx7VPs/edit#gid=1264734873"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "description": "={{ $json.description }}",
            "position": "={{ $json.position }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "2f4a7c2a-2f27-4a04-8bf8-45df622335fd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cPZFdws0Yr6xwxsD",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e57634ac-07c7-460e-b25f-1309847c42a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed85d0532c7a103ec011cd9be9190628a1704a8fb7caa3ab66b9abaf4cd2bbe"
  },
  "id": "ZKrzGJRpeCgaR18q",
  "tags": []
}