newspaper article.json
{
  "name": "newspaper article",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Newslatter platform",
        "formDescription": "Newslatter platform",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Newsletter topic",
              "fieldType": "textarea",
              "placeholder": "Newsletter topic"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "please enter your email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "d9bbced7-1b7e-4f15-80a1-39362421b995",
      "name": "On form submission",
      "webhookId": "53697720-8111-4993-9aff-db76f79b8239"
    },
    {
      "parameters": {
        "query": "=write a newsletter based on this topic {{ $json['Newsletter topic'] }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "4add569c-e7fc-44ca-8b62-4e4116ab4eed",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "pVrI1kwHmCKiLdq4",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional newsletter based on the topic: {{$json[\"query\"]}}\n\nUse the following research data from search results:\n\n{{ JSON.stringify($json[\"results\"]) }}\n\nInstructions:\n- Create an engaging newsletter.\n- Include a catchy subject line.\n- Write a short introduction.\n- Summarize the key insights from the research.\n- Add bullet points for important ideas.\n- End with a short conclusion.\n\nFormat:\n\nSubject:\nIntroduction:\nMain Insights:\nKey Points:\nConclusion:",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an AI newsletter strategist.\n\nYour task is to generate a compelling newsletter topic and a list of related subtopics based on the user's query.\n\nInstructions:\n- Create one strong and engaging newsletter title.\n- Generate 3 relevant topics related to the title.\n- Each topic should be short and clear.\n- Topics should represent sections of the newsletter.\n\nReturn the response strictly in JSON format with the following structure:\n\n{\n  \"title\": \"string\",\n  \"topics\": [\"string\", \"string\", \"string\"]\n}\n\nDo not include explanations or extra text. Only return valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "f6e7a426-dfc2-479b-a7fc-7a98e2754ba7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        560
      ],
      "id": "482b41b4-d468-431d-863f-a64e7eb0b829",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9gDcCDXTa5yMACCs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        304
      ],
      "id": "c6ff483a-bc56-461e-ac14-ebedcf79571a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9gDcCDXTa5yMACCs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"newsletter_title\": {\n      \"type\": \"string\",\n      \"description\": \"Title of the newsletter\"\n    },\n    \"newsletter_intro\": {\n      \"type\": \"string\",\n      \"description\": \"Short introduction for the newsletter\"\n    },\n    \"articles\": {\n      \"type\": \"array\",\n      \"description\": \"List of summarized articles\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"Title of the article\"\n          },\n          \"summary\": {\n            \"type\": \"string\",\n            \"description\": \"Short summary of the article\"\n          },\n          \"url\": {\n            \"type\": \"string\",\n            \"description\": \"Source link of the article\"\n          }\n        },\n        \"required\": [\"title\", \"summary\", \"url\"]\n      }\n    },\n    \"closing\": {\n      \"type\": \"string\",\n      \"description\": \"Closing message for the newsletter\"\n    }\n  },\n  \"required\": [\"newsletter_title\", \"newsletter_intro\", \"articles\", \"closing\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "26fc5bbd-9ade-4bc7-82b7-5a53d5ab4ea3",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "9fe9cbcf-95de-4b81-b522-674c74aea0fd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "query": "={{ $json.title }}",
        "options": {
          "time_range": "month"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "a6e22da3-5472-4c97-8178-3e9dc5214ca7",
      "name": "Search1",
      "credentials": {
        "tavilyApi": {
          "id": "pVrI1kwHmCKiLdq4",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic:{{ $json.query }}\nResearch data:Write a professional newsletter based on the topic: {{$json[\"query\"]}}\n\nUse the following research data from search results:\n\n{{ JSON.stringify($json[\"results\"]) }}\n\nInstructions:\n- Create an engaging newsletter.\n- Include a catchy subject line.\n- Write a short introduction.\n- Summarize the key insights from the research.\n- Add bullet points for important ideas.\n- End with a short conclusion.\n\nFormat:\n\nSubject:\nIntroduction:\nMain Insights:\nKey Points:\nConclusion:",
        "options": {
          "systemMessage": "You are a professional newsletter section writer.\n\nYour task is to write ONE high-quality section of a newsletter based on the information provided by the user.\n\nGuidelines:\n\n* Write in a clear, engaging, and professional tone.\n* Focus only on the specific topic or article provided.\n* Keep the section concise and informative.\n* Use simple language that is easy for readers to understand.\n* Highlight the key insight or takeaway from the topic.\n* Avoid repeating the same ideas.\n* Do not write the full newsletter—only one section.\n\nOutput format:\nSection Title\n2–3 short paragraphs summarizing the topic and explaining why it matters to readers.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        0
      ],
      "id": "051e4d52-fef1-49d5-8097-fc978732c9ab",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1536,
        0
      ],
      "id": "380aec3a-c6c6-4916-bf8a-dd8f42eeee9b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=title:{{ $('AI Agent').item.json.output.newsletter_title }}\nsections:{{ $json.output.join(\"\\n\\n\\n\")}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional newsletter editor specializing in business email publications.\n\nYour task is to merge exactly three provided newsletter sections into a single cohesive email body. The final result should read like a professionally edited newsletter written for a business audience.\n\nEditorial Guidelines:\n\n* Create a short but compelling introduction that summarizes the overall theme of the three sections.\n* Combine the three sections smoothly while maintaining logical flow and readability.\n* Preserve the original meaning, insights, and key points of each section.\n* Improve clarity, wording, and transitions so the newsletter feels unified and well-edited.\n* Maintain a professional, concise, and informative tone suitable for business professionals and decision-makers.\n* Avoid unnecessary repetition, filler text, or overly promotional language.\n* Do not introduce new topics that are not present in the provided sections.\n* Ensure the final content feels like one cohesive newsletter rather than three separate pieces.\n\nOutput Requirements:\n\n* The output must be valid HTML only.\n* Do not include markdown, explanations, comments, or code blocks.\n* Use simple email-safe HTML elements.\n* The content must be structured clearly for readability in email clients.\n\nRequired HTML Structure:\n\n<body>\n\n<h2>Introduction</h2>\n<p>\nWrite a short opening paragraph that introduces the main theme and explains why the topics in this newsletter matter to the reader.\n</p>\n\n<h3>Section 1</h3>\n<p>Refined version of the first provided section.</p>\n\n<h3>Section 2</h3>\n<p>Refined version of the second provided section.</p>\n\n<h3>Section 3</h3>\n<p>Refined version of the third provided section.</p>\n\n<h2>Conclusion</h2>\n<p>\nWrite a short closing paragraph summarizing the key insights from the three sections and leaving the reader with a clear takeaway.\n</p>\n\n</bo\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1744,
        0
      ],
      "id": "1ebd5265-3af2-4b4b-8588-ae0338a525b6",
      "name": "editor agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1600,
        208
      ],
      "id": "8827d942-b297-43e0-bbda-0ddaf3f18ead",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "9gDcCDXTa5yMACCs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"the newsletter content\"\n    }\n  },\n  \"required\": [\"subject\", \"content\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1920,
        208
      ],
      "id": "2f1d67a0-4520-4603-bc4e-64726f6aacd9",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2096,
        0
      ],
      "id": "739fe83b-ee8e-4210-93e9-d6dda92e676c",
      "name": "Send a message",
      "webhookId": "9b1cc4c6-1ed0-4ca4-afc3-0d836ceec645",
      "credentials": {
        "gmailOAuth2": {
          "id": "vsC4TS9vuUQHK9oT",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "editor agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "editor agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "editor agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "editor agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2e5479b9-2823-427a-ada1-ef7dfdc85b66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed85d0532c7a103ec011cd9be9190628a1704a8fb7caa3ab66b9abaf4cd2bbe"
  },
  "id": "K6kPESQDIAml8Fu4",
  "tags": []
}